{{ define "api_dir" }}
<div class="col-md-1 col-lg-2" style="height: calc(100vh - 56px);background-color: #424242;/*min-width:280px;*/">

    <div style="height: 42px;color: #ffffff;padding: 8px;padding-bottom:12px;">
        <span style="font-size: 18px;">{{ .projectName }}</span>
    </div>
    
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example" style="margin-top: 8px;margin-bottom: 8px;background-color: #7c7b7b;width: 100%; ">
        <button type="button" class="btn btn-dark shareButton">{{ SVG "share-fill" 16 16 }}</button>
        <button type="button" class="btn btn-dark changeButton">{{ SVG "arrow-left-right" 16 16 }}</button>
        <button type="button" class="btn btn-dark addDirButton" onclick="openAddDocDir()">{{ SVG "folder-plust" 16 16 }}</button>
        <button type="button" class="btn btn-dark addDocButton" onclick="newAPIDoc('')">{{ SVG "plus-lg" 16 16 }}</button>
        <button type="button" class="btn btn-dark pConfButton">{{ SVG "gear-fill" 16 16 }}</button>
    </div>

    <div style="height: 56px;padding-top: 8px;margin-bottom: 16px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="api名称或url" aria-label="api名称或url" aria-describedby="button-addon2">
            <button class="btn btn-dark" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#apiDocModal">搜索</button>
        </div>
    </div>

    <div id="wrap" style="border-radius: 4px;">
    </div>
</div>
{{ end }}