{{ define "api_dir" }}
<div class="col-md-1 col-lg-2" style="height: calc(100vh - 56px);background-color: #424242;/*min-width:280px;*/">
    <div style="height: 42px;color: #ffffff;padding: 8px;padding-bottom:12px;">
        <span style="font-size: 18px;">{{ .projectName }}</span>
    </div>
    
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example" style="margin-top: 8px;margin-bottom: 8px;background-color: #7c7b7b;width: 100%; ">
        <button type="button" class="btn btn-dark shareButton" onclick="openShare(1, '')">{{ SVG "share-fill" 16 16 }}</button>
<!--        <button type="button" class="btn btn-dark changeButton">{{ SVG "arrow-left-right" 16 16 }}</button>-->
        <button type="button" class="btn btn-dark addDirButton" onclick="openAddDocDir()">{{ SVG "folder-plust" 16 16 }}</button>
        <button type="button" class="btn btn-dark addDocButton" onclick="newAPIDoc('')">{{ SVG "plus-lg" 16 16 }}</button>
        <button type="button" class="btn btn-dark sortDirButton" onclick="sortDir()">{{ SVG "arrow-down-up" 16 16 }}</button>
<!--        <button type="button" class="btn btn-dark pConfButton" onclick="openPConf('{{ .projectId }}')">{{ SVG "gear-fill" 16 16 }}</button>-->
        <button type="button" class="btn btn-dark globalCodeButton" onclick="openGlobalCodeModal()" style="font-size: 11px;">code</button>
        <button type="button" class="btn btn-dark globalHeaderButton" onclick="openGlobalHeaderModal()" style="font-size: 11px;">header</button>
    </div>

    <div style="height: 56px;padding-top: 8px;margin-bottom: 16px;">
        <div class="input-group">
            <input type="text" id="searchWord" class="form-control" placeholder="api名称或url" aria-label="api名称或url" aria-describedby="button-addon2">
            <button class="btn btn-dark" type="button" onclick="searchDoc()">搜索</button>
        </div>
    </div>

    <div id="wrap" style="border-radius: 4px;background-color: #dddddd">
    </div>

    <div id="searchWrap" style="border-radius: 4px;background-color: #dddddd; display: none;">
        <div style="text-align: center;">
            <p id="searchCount" style="margin-bottom: 0;"></p>
            <a href="#" onclick="returnDirList()">返回列表</a>
        </div>
        <ul style="padding: 4px;margin-top: 16px;"></ul>
    </div>

</div>
{{ end }}