{{ define "api_dir_browse" }}
<div class="col-md-1 col-lg-2" style="height: 100vh;background-color: #424242;padding-top: 8px;">
    <div style="height: 42px;color: #ffffff;padding: 8px;padding-bottom:12px;">
        <span style="font-size: 18px;">{{ .projectName }} - 接口文档</span>
    </div>
    <div style="height: 56px;padding-top: 8px;margin-bottom: 16px;">
        <div class="input-group">
            <input type="text" id="searchWord" class="form-control" placeholder="输入关键词" aria-label="输入关键词" aria-describedby="button-addon2">
            <button class="btn btn-dark" type="button" onclick="searchDoc()">搜索</button>
        </div>
    </div>
    <div id="wrap" style="border-radius: 4px;background-color: #dddddd; height: calc(100vh - 200px);"></div>
    <div id="searchWrap" style="border-radius: 4px;background-color: #dddddd; display: none;height: calc(100vh - 200px);">
        <div style="text-align: center;">
            <p id="searchCount" style="margin-bottom: 0;"></p>
            <a href="#" onclick="returnDirList()">返回目录</a>
        </div>
        <ul style="padding: 4px;margin-top: 16px;"></ul>
    </div>
    <div style="padding: 8px;margin-top: 8px;">
        <a href="https://github.com/mangenotwork/apiBook" target="_blank" style="color: #dddddd; text-decoration: none;">apiBook v0.0.1</a>
    </div>
</div>
{{ end }}