{{ define "DocAddDirModal" }}
<div class="modal fade" id="docAddDirModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="docAddDirModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="docAddDirModalLabel">创建目录</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 56px;">
                <div style="margin-bottom: 18px">{{ InputModule "text" "docAddDirName" "" "name" "请输入目录名"}}</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="addDocDir()">提交</button>
            </div>
        </div>
    </div>
</div>
{{ end }}