{{ define "pubjs" }}
<script type="text/javascript" src="/js/jquery.min.js?v={{ .TimeStamp }}"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js?v={{ .TimeStamp }}"></script>
<script type="text/javascript" src="/js/bootstrap-select.min.js?v={{ .TimeStamp }}"></script>
<script type="text/javascript" src="/js/popper.min.js?v={{ .TimeStamp }}"></script>
<script type="text/javascript" src="/js/tippy-bundle.umd.min.js?v={{ .TimeStamp }}"></script>
<script type="text/javascript" src="/js/jsoneditor.js?v={{ .TimeStamp }}"></script>
<script type="text/javascript" src="/js/editormd.min.js?v={{ .TimeStamp }}"></script>
<script>

    function tippyInit() {
        tippy('.shareButton', {
            content: '分享接口文档',
        });
        tippy('.changeButton', {
            content: '切换项目',
        });
        tippy('.addDirButton', {
            content: "新建目录",
        });
        tippy('.addDocButton', {
            content: "新建文档",
        });
        tippy('.pConfButton', {
            content: "项目设置",
        });
        tippy('.sortDirButton', {
            content: "目录排序",
        })
        tippy('.sortDocButton', {
            content: "文档排序",
        })
        tippy('.editDocButton', {
            content: "编辑文档",
        })
    }

    tippy('#openBodyBtn-go',{
        content: "golang结构体转换参数说明",
    });
    tippy('#openBodyBtn-ts',{
        content: "ts接口转换参数说明",
    });
    tippy('#openRespBtn-go',{
        content: "golang结构体转换参数说明",
    });
    tippy('#openRespBtn-ts',{
        content: "ts接口转换参数说明",
    });

    const dirDev = function (dirid, name) {
        return '<div class="dir">\n' +
            '            <p class="dir-open" data-open="0" data-dirid="'+dirid+'"><span>{{ SVG "folder" 21 21 }}</span>'+name+'</p>\n' +
            '            <div class="btn-group btn-group-sm dirop" role="group" aria-label="Small button group">\n' +
            '                <button type="button" class="btn btn-outline-dark sortDirButton">{{ SVG "arrow-down-up" 16 16 }}</button>\n' +
            '                <button type="button" class="btn btn-outline-dark sortDocButton">{{ SVG "list-ol" 16 16 }}</button>\n' +
            '                <button type="button" class="btn btn-outline-dark addDocButton" onclick="newAPIDoc(\''+dirid+'\')">{{ SVG "plus-lg" 16 16 }}</button>\n' +
            '            </div>\n' +
            '        </div>' +
            '<ul id="'+dirid+'" class="dir-ul" >' +
            '</ul>'
    }

    const docLi = function (id, method, name) {
        var methodtxt = ""
        switch (method) {
            case "GET":
                methodtxt = '<span class="badge rounded-pill text-bg-success">GET</span>'
                break;
            case "DELETE":
                methodtxt = '<span class="badge rounded-pill text-bg-danger">DELETE</span>'
                break;
            case "POST":
                methodtxt = '<span class="badge rounded-pill text-bg-info">POST</span>'
                break;
            case "HEAD":
                methodtxt = '<span class="badge rounded-pill text-bg-dark">HEAD</span>'
                break;
            case "PUT":
                methodtxt = '<span class="badge rounded-pill text-bg-secondary">PUT</span>'
                break;
            case "OPTIONS":
                methodtxt = '<span class="badge rounded-pill text-bg-light">OPTIONS</span>'
                break;
        }
        return '<li class="hover-area docli" id="'+id+'">\n' +
            '                <p>'+methodtxt+name+'</p>\n' +
            '                <div class="btn-group btn-group-sm action-btn docliop" role="group" aria-label="Small button group">\n' +
            '                    <button type="button" class="btn btn-outline-dark sortDocButton">{{ SVG "arrows-move" 16 16 }}</button>\n' +
            '                    <button type="button" class="btn btn-outline-dark editDocButton">{{ SVG "pencil-square" 16 16 }}</button>\n' +
            '                    <button type="button" class="btn btn-outline-dark shareButton">{{ SVG "share-fill" 16 16 }}</button>\n' +
            '                </div>\n' +
            '            </li>'
    }

    const addDocDirOption = function (dirId, dirName) {
        return '<option value="' + dirId + '">' + dirName + '</option>'
    }

</script>
<script type="text/javascript" src="/js/pub.js?v={{ .TimeStamp }}"></script>
{{ end }}