{{ define "ShareModal" }}
<div class="modal fade" id="shareModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="shareModalLabel">项目分享</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 56px;">

                <div class="row">
                    <div class="col">
                        有效期:  <label for="shareExpiration" class="form-label" id="shareExpiration2">永久</label>
                        <div class="col-sm-10">
                            <span class="badge text-bg-light" id="cutShareExpiration" style="float: left;font-size: 14px;cursor:pointer;">-</span>
                            <input type="range" class="form-range" min="0" max="365" value="-1" id="shareExpiration" style="float: left; width: 70%;margin-left: 8px;margin-right: 8px;">
                            <span class="badge text-bg-light" id="addShareExpiration" style="float: left;font-size: 14px;cursor:pointer;">+</span>
                        </div>
                    </div>
                    <div class="col">
                        是否加密
                        <div class="form-check form-switch" style="margin-top: 8px;">
                            <input class="form-check-input" type="checkbox" role="switch" id="shareIsPassword">
                            <label class="form-check-label" for="shareIsPassword" id="shareIsPassword2" style="margin-left: 36px;"></label>
                        </div>
                    </div>

                    <input type="text" id="shareDocId" style="display: none">

                </div>
                <br>
                <button type="button" class="btn btn-primary" id="projectShareBtn" onclick="projectShare()">生成分享链接</button>
                <button type="button" class="btn btn-primary" id="docShareBtn" onclick="docShare()">生成分享链接</button>
                <hr>

                <div class="list-group" id="shareList">
                </div>


            </div>
        </div>
    </div>
</div>
{{ end }}