{{ define "UserResetPasswordModify" }}
<div class="modal fade" id="resetPasswordUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="resetPasswordUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="resetPasswordUserModalLabel">修改信息</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 56px;">
                <div style="margin-bottom: 18px;">{{ InputModule "password" "resetPassword" "" "password" "密码" }}</div>
                <div style="margin-bottom: 18px;">{{ InputModule "password" "resetPassword2" "" "password2" "确认密码" }}</div>
            </div>
            <input type="text" id="userResetPasswordAcc" style="display: none">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="UserResetPassword()">提交</button>
            </div>
        </div>
    </div>
</div>
{{ end }}