{{ template "head" . }}
<body>
{{ template "header" . }}

<div class="container-fluid" style="padding: 36px;">
    <div class="row">
        <div class="col-2"><button type="button" class="btn btn-outline-secondary" onclick="addProject()">创建项目 {{ SVG "plus-lg" 18 18 }} </button></div>
        <div class="input-group col-3" style="width: 360px;">
            <input type="text" class="form-control" placeholder="项目名称" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">搜索</button>
        </div>
    </div>
    <hr>
    <br>
    <div style="height: calc(100vh - 256px);overflow: auto;position: relative;">
        {{ range .projectList }}
            {{ ProjectCard .ProjectId .Name .Description .IsOperation .Private}}
        {{ end }}
    </div>
    {{ ToastTemplate }}
    {{ template "ProjectModalAdd" . }}
    {{ template "ShareModal" . }}
    {{ template "ImportModal" . }}
    {{ template "ExportModal" . }}
    
</div>

</body>
{{ template "pubjs" . }}
<script>

    var projectId = ""

    function openDocShare(projectIdNow) {
        console.log("openDocShare")
        projectId = projectIdNow;
        openShare(1, "")
    }

    function openShare(sType, docId) {
        var shareModalLabel = $("#shareModalLabel")
        shareModalLabel.empty()

        var projectShareBtn = $("#projectShareBtn")
        var docShareBtn = $("#docShareBtn")

        projectShareBtn.hide()
        docShareBtn.hide()

        switch (sType) {
            case 1:
                shareModalLabel.append("分享项目")
                projectShareBtn.show()
                break
            case 2:
                shareModalLabel.append("分享文档")
                $("#shareDocId").val(docId)
                docShareBtn.show()
                break
        }

        shareListLoad(sType, docId)

        $('#shareModal').modal('show');
    }

    function shareListLoad(sType, docId) {
        switch (sType) {
            case 1:
                AjaxGetNotAsync("/share/info/project?pid=" + projectId, function (data) {
                    console.log(data)
                    if (data.code === 0) {
                        shareListShow(data.data)
                    }
                })
                break
            case 2:
                AjaxGetNotAsync("/share/info/document?docId=" + docId, function (data) {
                    console.log(data)
                    if (data.code === 0) {
                        shareListShow(data.data)
                    }
                })
                break
        }
    }

    function shareListShow(data) {
        var shareList = $('#shareList')
        shareList.empty()
        const currentHost = window.location.host + "/browse/";
        for (var i = 0; i < data.length; i++) {

            var expiration = ""
            if (data[i].expiration === 0) {
                expiration = "过期"
            } else if (data[i].expiration === -1) {
                expiration = "永久"
            } else {
                expiration = data[i].expiration + "天"
            }

            var password = ""
            if (data[i].isPassword === 1) {
                password = '<span class="badge text-bg-info">密码: ' + data[i].passwordCode + '</span>'
            } else {
                password = '<span class="badge text-bg-info">公开</span>'
            }

            shareList.append('<div class="list-group-item list-group-item-action">\n' +
                '                        <span style="margin-right: 16px;">' + currentHost + data[i].key + '</span> ' +
                '<span class="badge text-bg-dark" style="margin-right: 8px;">' + expiration + '</span>' + password +
                '                        <button type="button" class="btn btn-link" style="float: right;" onclick="cpShare(\'' + currentHost + data[i].key + '\')">复制</button>\n' +
                '                        <button type="button" class="btn btn-link" style="float: right; color: red" onclick="delShare(\'' + data[i].key + '\')">删除</button>\n' +
                '                    </div>')
        }
    }

    $('#shareExpiration').mousemove(function () {
        var num = $("#shareExpiration").val()
        var customRange2 = $("#shareExpiration2")
        customRange2.empty()
        if (num === "0") {
            customRange2.append("永久")
        } else {
            customRange2.append(num + "天")
        }
    });

    $('#shareIsPassword').change(function () {
        var shareIsPassword2 = $('#shareIsPassword2')
        shareIsPassword2.empty()
        if (this.checked) {
            var num = getRandomInt(100000, 999999)
            shareIsPassword2.append(num)
        }
    });

    // 生成一个0到1之间的随机小数
    var randomNum = Math.random();

    // 生成一个范围在[min, max]之间的随机整数
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    $('#addShareExpiration').click(function () {
        console.log("addShareExpiration")
        var shareExpiration = $("#shareExpiration")
        var num = shareExpiration.val()
        num = Number(num)
        if (num < 365) {
            num = num + 1
        }
        shareExpiration.val(num)
        var customRange2 = $("#shareExpiration2")
        customRange2.empty()
        if (num === "0" || num === 0) {
            customRange2.append("永久")
        } else {
            customRange2.append(num + "天")
        }
    })

    $('#cutShareExpiration').click(function () {
        var shareExpiration = $("#shareExpiration")
        var num = shareExpiration.val()
        num = Number(num)
        if (num > 0) {
            num = num - 1
        }
        shareExpiration.val(num)
        var customRange2 = $("#shareExpiration2")
        customRange2.empty()
        if (num === "0" || num === 0) {
            customRange2.append("永久")
        } else {
            customRange2.append(num + "天")
        }
    })

    function projectShare() {
        createShare(1, projectId)
    }

    function docShare() {
        var docId = $("#shareDocId").val()
        createShare(2, docId)
    }

    function createShare(shareType, shareId) {
        var isPassword = 0;
        var passwordCode = $("#shareIsPassword2").text();
        if (passwordCode !== "") {
            isPassword = 1
        }

        var param = {
            "projectId": projectId,
            "shareType": shareType,
            "shareId": shareId,
            "expiration": Number($("#shareExpiration").val()),
            "isPassword": isPassword,
            "passwordCode": passwordCode,
        }

        AjaxPost("/share/create", param, function (data) {
            ToastShow(data.msg);
            if (data.code === 0) {
                shareListLoad(shareType, shareId)
                $("#shareExpiration").val(0);
                $("#shareIsPassword").prop('checked', false);
                $("#shareExpiration2").empty();
                $("#shareExpiration2").append("永久");
                $("#shareIsPassword2").empty();
            }
        });
    }

    function delShare(key) {
        AjaxGetNotAsync("/share/del?key=" + key, function (data) {
            console.log(data)
            if (data.code === 0) {
                shareListLoad(data.data.shareType, data.data.shareId)
            }
        })
    }

    function cpShare(url) {
        copyContent(url)
        ToastShow("已复制到剪切板");
    }
</script>
{{ template "end" . }}