{{ template "head" . }}
<body>

{{ template "header" . }}

<div class="container-fluid" style="padding: 36px;">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">项目名称</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/index" class="card-link">接口文档</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

</div>
</body>
</html>