{{ template "head" . }}
<body>

{{ template "header" . }}

<div class="container-fluid" style="padding: 36px;">

    <div class="row">
        <div class="col-2"><button type="button" class="btn btn-outline-secondary" onclick="addProject()">创建项目 {{ SVG "plus-lg" 18 18 }} </button></div>
        <div class="input-group col-3" style="width: 360px;">
            <input type="text" class="form-control" placeholder="项目名称" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">搜索</button>
        </div>
    </div>


    <hr>
    <br>
    <div style="height: calc(100vh - 256px);overflow: auto;position: relative;">

        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-primary" style="margin-right:8px;">私有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a onclick="addProject()" class="card-link" style="color: #1a1d20; cursor: pointer;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>

        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-info" style="margin-right:8px;">公有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a href="#" class="card-link" style="color: #1a1d20;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>

        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-primary" style="margin-right:8px;">私有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a onclick="addProject()" class="card-link" style="color: #1a1d20; cursor: pointer;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>

        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-info" style="margin-right:8px;">公有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a href="#" class="card-link" style="color: #1a1d20;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-primary" style="margin-right:8px;">私有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a onclick="addProject()" class="card-link" style="color: #1a1d20; cursor: pointer;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>

        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-info" style="margin-right:8px;">公有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a href="#" class="card-link" style="color: #1a1d20;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-primary" style="margin-right:8px;">私有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a onclick="addProject()" class="card-link" style="color: #1a1d20; cursor: pointer;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>

        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-info" style="margin-right:8px;">公有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a href="#" class="card-link" style="color: #1a1d20;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-primary" style="margin-right:8px;">私有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a onclick="addProject()" class="card-link" style="color: #1a1d20; cursor: pointer;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>

        <div class="card mb-3" style="width: 28rem; float: left;margin: 2rem;">
            <div class="card-body">
                <h5 class="card-title">项目名称</h5>
                <div style="margin-bottom: 4px;">
                    <span class="badge text-bg-info" style="margin-right:8px;">公有</span>
                    <span class="badge text-bg-dark" style="margin-right:8px;">接口数:10</span>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/index" class="card-link" style="color: #1a1d20;">打开文档</a>
                <a href="#" class="card-link" style="color: #1a1d20;">设置</a>
                <a href="#" class="card-link" style="color: #1a1d20;">分享</a>
            </div>
        </div>





    </div>

    {{ template "add_project" .}}

</div>

</body>
{{ template "pubjs" . }}
<script>
    $(document).ready(function(){

    });
</script>
{{ template "end" . }}