{{ template "head" . }}
<body>

<div class="container-fluid">
    <div class="row">
        {{ template "api_dir_browse" . }}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-color: #ffffff;">

            <div class="box" style="margin-top: 26px;border: 1px solid #D3D3D3; border-radius: 4px;">
                <ul class="nav nav-tabs" id="docViewTable" style="width: 100%;height:54px;flex-direction: row;flex-wrap: nowrap;overflow-x: scroll;font-size: 11px;">
                </ul>
                <div id="doc" style="width: 100%; height: calc(100vh - 96px);background-color: #ffffff;overflow: auto;padding: 16px;position: relative;">

                    <div class="row">

                        <div class="col-10">

                            <div id="notDocMain" style="display: none;">

                            </div>


                            <div data-bs-spy="scroll" id="docMain" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" style="margin-top: .5rem;overflow: auto; padding-left: 22px;" tabindex="0">

                                <nav aria-label="breadcrumb" id="docNav" style="display: none">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" id="returnLink"> <a href="javascript:void(0);" onclick="window.location.reload();">返回文档</a></li>
                                        <li class="breadcrumb-item active" aria-current="page" id="docNavSnapshot">镜像:xxxxx</li>
                                    </ol>
                                </nav>

                                <div style="margin-bottom: 52px;margin-top: 16px;">
                                    <h4 id="simple-list-item-1" style="margin-bottom: 16px;">基本信息</h4>
                                    <div class="card">
                                        <div class="card-body">
                                            <span id="docIdContent" style="display: none;"></span>
                                            <ul style="padding: 0;">
                                                <li style="padding: 8px;"><span class="txt7">接口名:</span><span id="api-name" style="font-size: 18px;margin-left: 16px;"></span></li>
                                                <li style="padding: 8px;"><span class="txt7">接口Url: </span>
                                                    <span style="font-size: 18px;margin-left: 16px;">
                                                        <span id="api-method"></span>
                                                        <span id="api-url"></span>
                                                    </span>
                                                </li>
                                                <li style="padding: 8px;"><span class="txt7">操作： </span><div class="btn-group" role="group" aria-label="Basic outlined example" style="margin-left: 16px;">
                                                    <button type="button" class="btn btn-outline-dark">请求</button>
                                                    <button type="button" class="btn btn-outline-dark">Mock</button>
                                                    <a type="button" class="btn btn-outline-dark" href="https://www.zhaozhongtian.top" target="_blank">在线工具</a>
                                                </div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div style="margin-bottom: 52px;">
                                    <h4 id="simple-list-item-2" style="margin-bottom: 36px;">接口说明</h4>

                                    <div class="card">
                                        <div class="card-body" id="api-description"></div>
                                    </div>
                                </div>
                                <div style="margin-bottom: 52px;">
                                    <h4 id="simple-list-item-3" style="margin-bottom: 36px;">请求Header</h4>
                                    <table class="table table-bordered table-hover table-striped" style="border-radius: 10px!important;">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="docth" style="width: 20%;">字段</th>
                                            <th scope="col" class="docth" style="width: 5%;">类型</th>
                                            <th scope="col" class="docth" style="width: 5%;">必填</th>
                                            <th scope="col" class="docth" style="width: 20%;">描述</th>
                                            <th scope="col" class="docth" style="width: 20%;">示例</th>
                                        </tr>
                                        </thead>
                                        <tbody id="api-reqHeader">
                                        </tbody>
                                    </table>
                                </div>

                                <div style="margin-bottom: 52px;">
                                    <h4 id="simple-list-item-4" style="margin-bottom: 36px;">请求参数</h4>
                                    <p>请求数据类型: <span id="api-reqType">json</span></p>
                                    <p>示例:</p>
                                    <div id="jsoneditorDiv" style="display: none;">
                                        <button type="button" class="btn btn-dark closeReqZsText"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px;" onclick="closeReqZsText()">
                                            关闭注释
                                        </button>
                                        <button type="button" class="btn btn-dark openReqZsText"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px; display: none;" onclick="openReqZsText()">
                                            开启注释
                                        </button>
                                        <button type="button" class="btn btn-dark"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px;" onclick="copyReqJson()">
                                            复制
                                        </button>
                                        <a type="button" class="btn btn-dark"
                                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px;" href="https://www.zhaozhongtian.top/code-json" target="_blank">
                                            在线json工具
                                        </a>
                                        <div id="jsoneditor" style="width: 100%;margin-bottom: 16px;margin-top: 8px;"></div>
                                    </div>
                                    <p>参数说明:</p>
                                    <table class="table table-bordered table-hover table-striped" style="table-layout:fixed;display:table;">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="docth" style="width: 20%;">字段</th>
                                            <th scope="col" class="docth" style="width: 5%;">类型</th>
                                            <th scope="col" class="docth" style="width: 5%;">必填</th>
                                            <th scope="col" class="docth" style="width: 20%;">描述</th>
                                            <th scope="col" class="docth" style="width: 20%;">示例</th>
                                        </tr>
                                        </thead>
                                        <tbody id="api-reqBodyInfo">
                                        </tbody>
                                    </table>
                                </div>

                                <div style="margin-bottom: 52px;">
                                    <h4 id="simple-list-item-5"  style="margin-bottom: 36px;">响应</h4>
                                    <p>请求数据类型: <span id="api-respType">json</span></p>
                                    <p>示例:</p>
                                    <div id="jsoneditorRespDiv" style="display: none;">
                                        <button type="button" class="btn btn-dark closeRespZsText"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px;" onclick="closeRespZsText()">
                                            关闭注释
                                        </button>
                                        <button type="button" class="btn btn-dark openRespZsText"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px; display: none;" onclick="openRespZsText()">
                                            开启注释
                                        </button>
                                        <button type="button" class="btn btn-dark"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px;" onclick="copyRespJson()">
                                            复制
                                        </button>
                                        <a type="button" class="btn btn-dark"
                                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-top: 2px;" href="https://www.zhaozhongtian.top/code-json" target="_blank">
                                            在线json工具
                                        </a>
                                        <div id="jsoneditorResp" style="width: 100%;margin-bottom: 16px;margin-top: 8px;"></div>
                                    </div>

                                    <p>参数说明:</p>
                                    <table class="table table-bordered table-hover table-striped" style="table-layout:fixed;display:table;">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="docth" style="width: 20%;">字段</th>
                                            <th scope="col" class="docth" style="width: 5%;">类型</th>
                                            <th scope="col" class="docth" style="width: 20%;">描述</th>
                                            <th scope="col" class="docth" style="width: 20%;">示例</th>
                                        </tr>
                                        </thead>
                                        <tbody id="api-respBodyInfo">
                                        </tbody>
                                    </table>
                                </div>

                                <div style="margin-bottom: 52px;">
                                    <h4 id="simple-list-item-7">请求代码</h4>
                                    todo....
                                </div>

                                <div style="margin-bottom: 52px;">
                                    <h4 id="simple-list-item-6">日志&镜像</h4>
                                    <ul class="list-group list-group-flush" id="snapshot"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-2" id="docMainML">
                            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
                                <a class="p-1 rounded" style="color: #1a1d20;text-decoration: none;" href="#simple-list-item-1">基本信息</a>
                                <a class="p-1 rounded" style="color: #1a1d20;text-decoration: none;" href="#simple-list-item-2">接口说明</a>
                                <a class="p-1 rounded" style="color: #1a1d20;text-decoration: none;" href="#simple-list-item-3">请求Header</a>
                                <a class="p-1 rounded" style="color: #1a1d20;text-decoration: none;" href="#simple-list-item-4">请求Body</a>
                                <a class="p-1 rounded" style="color: #1a1d20;text-decoration: none;" href="#simple-list-item-5">响应</a>
                                <a class="p-1 rounded" style="color: #1a1d20;text-decoration: none;" href="#simple-list-item-7">请求代码</a>
                                <a class="p-1 rounded" style="color: #1a1d20;text-decoration: none;" href="#simple-list-item-6">日志&镜像</a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            {{ template "toast" . }}
            {{ template "GlobalCodeModalView" . }}
            {{ template "GlobalHeaderModalView" . }}

        </main>

    </div>
</div>

</body>

{{ template "pubjs" . }}
<script>

    var projectId = "{{ .projectId }}"
    var dirId = ""

    var reqType = "json"
    var respType = "json"

    var zs = {}
    var zsresp = []

    const container = document.getElementById("jsoneditor")
    const options = {
        mode: 'view',
    }
    var editor = new JSONEditor(container, options)

    const containerResp = document.getElementById("jsoneditorResp")
    const optionsResp = {
        mode: 'view',
    }
    var editorResp = new JSONEditor(containerResp, optionsResp)

    $(document).on('click', '.dir-open', function() {
        var open = $(this).attr('data-open');
        var dirid = $(this).attr('data-dirid');
        $(this).find('span').empty();
        if (open === "0") {
            $(this).find('span').append('{{ SVG "folder2-open" 21 21 }}');
            $(this).attr('data-open', '1');
            $('#'+dirid).show();
            localStorage.setItem(dirOpenKey+dirid,1)
        } else {
            $(this).find('span').append('{{ SVG "folder" 21 21 }}');
            $(this).attr('data-open', '0');
            $('#'+dirid).hide();
            localStorage.setItem(dirOpenKey+dirid,0)
        }
    });

    $(document).on('hover', '.docli', function() {
        $(this).css('background-color', '#f6f6f6');
    });

    $(document).on('mouseenter', '.hover-area', function() {
        $(this).find('.action-btn').show();
        $(this).css({
            'height':'42px',
        })
    }).on('mouseleave', '.hover-area', function() {
        $(this).find('.action-btn').hide();
        $(this).css({
            'height':'42px',
        })
    });


    $(document).on('mouseenter', '.dir', function() {
        tippyInit();
        $(this).find('.dirop').show();
        $(this).css({
            'height':'42px',
        })
    }).on('mouseleave', '.dir', function() {
        $(this).find('.dirop').hide();
        $(this).css({
            'height':'42px',
        })
    });

    function isShow(is) {
        if (is) {
            $("#docMain").show();
            $("#docMainML").show();
            $("#notDocMain").hide();
        } else {
            $("#docMain").hide();
            $("#docMainML").hide();
            $("#notDocMain").show();
        }
    }

    const dir2Dev = function (dirid, name) {
        var isOpen = 'style="display: none;"'
        var dirIcon = '{{ SVG "folder" 21 21 }}'
        var open = 0
        if (localStorage.getItem(dirOpenKey+dirid) === "1") {
            isOpen = 'style="display: inline;"'
            dirIcon = '{{ SVG "folder2-open" 21 21 }}'
            open = 1
        }

        return '<div class="dir">\n' +
            '            <p class="dir-open" data-open="'+open+'" data-dirid="'+dirid+'"><span style="margin-right: 8px;">'+dirIcon+'</span>'+name+'</p>\n' +
            '        </div>' +
            '<ul id="'+dirid+'" '+isOpen+'>' +
            '</ul>'
    }

    const doc2Li = function (id, method, name) {
        var methodtxt = ""
        switch (method) {
            case "GET":methodtxt = GETSpan;break;
            case "DELETE":methodtxt = DELETESpan;break;
            case "POST":methodtxt = POSTSpan;break;
            case "HEAD":methodtxt = HEADSpan;break;
            case "PUT":methodtxt = PUTSpan;break;
            case "OPTIONS":methodtxt = OPTIONSSpan;break;
        }
        return '<li class="hover-area docli" id="'+id+'" style="height: 42px;">\n' +
            '                <p>'+methodtxt+name+'</p>\n' +
            '            </li>'
    }

    $(document).ready(function(){
        tippyInit();
        $('#newSort').click(function(){
            var ulValue = $( '#wrap' ).children();
            console.log(ulValue)
            for (var i=0; i<ulValue.length; i++) {
                var liValue = ulValue[i].children
                console.log(liValue)
                for(var j=0; j<liValue.length;j++) {
                    console.log(liValue[j])
                }
            }
        });

        AjaxGet("/document/dir/list?pid="+projectId, function(data){
            if (data.code === 0 ) {
                var apiDir = data.data
                for(var item in apiDir) {
                    if (apiDir.hasOwnProperty(item)){
                        var dirId = apiDir[item].dir.dirId;
                        var dirname = apiDir[item].dir.name;
                        var doc = apiDir[item].doc;
                        $("#wrap").append(dir2Dev(dirId, dirname))
                        $("#addDocDir").append(addDocDirOption(dirId, dirname))
                        for(var li in doc) {
                            if (doc.hasOwnProperty(li)) {
                                $("#"+dirId).append(doc2Li(doc[li].docId, doc[li].method, doc[li].title))
                            }
                        }
                    }
                }
            }
        });

        var viewDocList = viewDocGet(projectId)

        var param = {
            "pid": projectId,
            "docList": viewDocList,
        }

        if(localStorage.getItem(nowViewDoc+projectId) === "undefined" || localStorage.getItem(nowViewDoc+projectId)=== null) {
            isShow(false)
        }

        AjaxPost("/document/doc/list", param, function(data){
            if (data.code === 0 ) {
                for(var i=0; i<data.data.length; i++) {
                    if(data.data[i].docId === localStorage.getItem(nowViewDoc+projectId)) {
                        NowDoc(data.data[i].docId)
                    } else {
                        showViewDoc(data.data[i].method, data.data[i].name, data.data[i].docId, false)
                    }
                }
            }
        })

    });

    function openBodyMain(type) {
        var bodyJson = $("#bodyJson");
        var bodyFromData = $("#bodyFromData");
        var bodyXwwwFrom = $("#bodyXwwwFrom");
        var bodyXml = $("#bodyXml");
        var bodyText = $("#bodyText");
        var bodyGo = $("#bodyGo");
        var bodyTs = $("#bodyTs");

        var openBodyBtnJson = $("#openBodyBtn-json");
        var openBodyBtnFromData = $("#openBodyBtn-from-data");
        var openBodyBtnXWwwFormUrlencoded = $("#openBodyBtn-x-www-form-urlencoded");
        var openBodyBtnXml = $("#openBodyBtn-xml")
        var openBodyBtnPlain = $("#openBodyBtn-plain")
        var openBodyBtnGo = $("#openBodyBtn-go")
        var openBodyBtnTs = $("#openBodyBtn-ts")

        bodyJson.hide();
        bodyFromData.hide();
        bodyXwwwFrom.hide();
        bodyXml.hide();
        bodyText.hide();
        bodyGo.hide();
        bodyTs.hide();

        openBodyBtnJson.removeClass('btn-light');
        if (!openBodyBtnJson.hasClass('btn-dark')) {
            openBodyBtnJson.addClass('btn-dark')
        }

        openBodyBtnFromData.removeClass('btn-light');
        if (!openBodyBtnFromData.hasClass('btn-dark')) {
            openBodyBtnFromData.addClass('btn-dark')
        }

        openBodyBtnXWwwFormUrlencoded.removeClass('btn-light');
        if (!openBodyBtnXWwwFormUrlencoded.hasClass('btn-dark')) {
            openBodyBtnXWwwFormUrlencoded.addClass('btn-dark')
        }

        openBodyBtnXml.removeClass('btn-light');
        if (!openBodyBtnXml.hasClass('btn-dark')) {
            openBodyBtnXml.addClass('btn-dark')
        }

        openBodyBtnPlain.removeClass('btn-light');
        if (!openBodyBtnPlain.hasClass('btn-dark')) {
            openBodyBtnPlain.addClass('btn-dark')
        }

        openBodyBtnGo.removeClass('btn-light');
        if (!openBodyBtnGo.hasClass('btn-dark')) {
            openBodyBtnGo.addClass('btn-dark')
        }

        openBodyBtnTs.removeClass('btn-light');
        if (!openBodyBtnTs.hasClass('btn-dark')) {
            openBodyBtnTs.addClass('btn-dark')
        }

        switch (type) {
            case 'json':
                bodyJson.show();
                openBodyBtnJson.removeClass('btn-dark');
                openBodyBtnJson.addClass('btn-light')
                reqType = "json"
                break
            case 'from-data':
                bodyFromData.show();
                openBodyBtnFromData.removeClass('btn-dark');
                openBodyBtnFromData.addClass('btn-light')
                reqType = "from-data"
                break
            case 'x-www-form-urlencoded':
                bodyXwwwFrom.show();
                openBodyBtnXWwwFormUrlencoded.removeClass('btn-dark');
                openBodyBtnXWwwFormUrlencoded.addClass('btn-light')
                reqType = "x-www-form-urlencoded"
                break
            case 'xml':
                bodyXml.show();
                openBodyBtnXml.removeClass('btn-dark');
                openBodyBtnXml.addClass('btn-light')
                reqType = "xml"
                break
            case 'plain':
                bodyText.show();
                openBodyBtnPlain.removeClass('btn-dark');
                openBodyBtnPlain.addClass('btn-light')
                reqType = "text"
                break
            case 'go':
                bodyGo.show();
                openBodyBtnGo.removeClass('btn-dark');
                openBodyBtnGo.addClass('btn-light')
                reqType = "json"
                break
            case 'ts':
                bodyTs.show();
                openBodyBtnTs.removeClass('btn-dark');
                openBodyBtnTs.addClass('btn-light')
                reqType = "json"
                break
        }
    }

    function openRespMain(type) {
        var respJson = $("#respJson")
        var respXml = $("#respXml")
        var respText = $("#respText")
        var respGo = $("#respGo");
        var respTs = $("#respTs");

        var openRespBtnJson = $("#openRespBtn-json")
        var openRespBtnXml = $("#openRespBtn-xml")
        var openRespBtnPlain = $("#openRespBtn-plain")
        var openRespBtnGo = $("#openRespBtn-go")
        var openRespBtnTs = $("#openRespBtn-ts")

        respJson.hide();
        respXml.hide();
        respText.hide();
        respGo.hide();
        respTs.hide();

        openRespBtnJson.removeClass('btn-light');
        if (!openRespBtnJson.hasClass('btn-dark')) {
            openRespBtnJson.addClass('btn-dark')
        }

        openRespBtnXml.removeClass('btn-light');
        if (!openRespBtnXml.hasClass('btn-dark')) {
            openRespBtnXml.addClass('btn-dark')
        }

        openRespBtnPlain.removeClass('btn-light');
        if (!openRespBtnPlain.hasClass('btn-dark')) {
            openRespBtnPlain.addClass('btn-dark')
        }

        openRespBtnGo.removeClass('btn-light');
        if (!openRespBtnGo.hasClass('btn-dark')) {
            openRespBtnGo.addClass('btn-dark')
        }

        openRespBtnTs.removeClass('btn-light');
        if (!openRespBtnTs.hasClass('btn-dark')) {
            openRespBtnTs.addClass('btn-dark')
        }

        switch (type) {
            case 'json':
                respJson.show();
                openRespBtnJson.removeClass('btn-dark');
                openRespBtnJson.addClass('btn-light')
                respType = "json"
                break
            case 'xml':
                respXml.show();
                openRespBtnXml.removeClass('btn-dark');
                openRespBtnXml.addClass('btn-light')
                respType = "xml"
                break
            case 'plain':
                respText.show();
                openRespBtnPlain.removeClass('btn-dark');
                openRespBtnPlain.addClass('btn-light')
                respType = "text"
                break
            case 'go':
                respGo.show();
                openRespBtnGo.removeClass('btn-dark');
                openRespBtnGo.addClass('btn-light')
                respType = "json"
                break
            case 'ts':
                respTs.show();
                openRespBtnTs.removeClass('btn-dark');
                openRespBtnTs.addClass('btn-light')
                respType = "json"
                break
        }
    }

    $(document).on('click', '.headerRemove', function(event) {
        var target = event.target;
        var index = $(target).parents("tr").index();
        $('#setHeaderTable tr:eq('+index+')').remove();
    });

    function jsonToBodyInfoItem(jsonObj, parentKey) {
        var jsonInfo = jsonObj
        for (var key in jsonInfo) {
            var reqField = $('.reqField').map(function() {
                return $(this).val();
            }).get();

            var reqVarType = $('.reqVarType').map(function() {
                return $(this).val();
            }).get();

            var reqExample =  $('.reqExample').map(function() {
                return $(this).val();
            }).get();

            var keyType = typeof jsonInfo[key]
            if (keyType === "object") {
                keyType = isArrayOrObject(jsonInfo[key])
            }
            if (keyType === "string" && jsonInfo[key].length > 188) {
                jsonInfo[key] = jsonInfo[key].substring(0,188)+"..."
            }
            var flag = false
            for (var has in reqField) {
                if (reqField[has] === key) {
                    if (reqVarType[has] !== keyType) {
                        $('.reqVarType:eq('+has+')').val(keyType);
                    }
                    if (reqExample[has] !== jsonInfo[key]) {
                        $('.reqExample:eq('+has+')').val(jsonInfo[key]);
                    }
                    flag = true
                }
            }
            var field = key
            if (parentKey !== "") {
                field = parentKey+"."+key
            }
            if (!flag && reqField[0] === "") {
                $(".reqField").first().val(field);
                $(".reqVarType").first().val(keyType);
                $(".reqExample").first().val(jsonInfo[key]);
            } else if (!flag) {
                $("#setReqTable").append(addReqTpl(field, keyType, jsonInfo[key], "", "1"));
            }

            if (keyType === "object") {
                var newParentKey = parentKey
                if (newParentKey === "") {
                    newParentKey = key
                }else {
                    newParentKey = parentKey+ "."+key
                }
                jsonToBodyInfoItem(jsonInfo[key], newParentKey)
            }

            if (keyType === "array") {
                if (isArrayOrObject(jsonInfo[key][0]) === "object") {
                    var newParentKey = parentKey
                    if (newParentKey === "") {
                        newParentKey = key
                    } else {
                        newParentKey = parentKey+ "."+key
                    }
                    jsonToBodyInfoItem(jsonInfo[key][0], newParentKey)
                }
            }
        }
    }

    function jsonToBodyInfo() {
        var jsonInfo = editorAdd.get();
        console.log(jsonInfo)
        jsonToBodyInfoItem(jsonInfo, "")
    }

    $(document).on('click', '.addReq', function() {
        $("#setReqTable").append(addReqTpl("", "", "", "", "1"));
    });

    $(document).on('click', '.removeReq', function(event) {
        var target = event.target;
        var index = $(target).parents("tr").index();
        $('#setReqTable tr:eq('+index+')').remove();
    });

    function jsonToRespInfoItem(jsonObj, parentKey) {
        var jsonInfo = jsonObj

        for (var key in jsonInfo) {

            var reqField = $('.respField').map(function() {
                return $(this).val();
            }).get();

            var reqVarType = $('.respVarType').map(function() {
                return $(this).val();
            }).get();

            var reqExample =  $('.respExample').map(function() {
                return $(this).val();
            }).get();

            var keyType = typeof jsonInfo[key]
            if (keyType === "object") {
                keyType = isArrayOrObject(jsonInfo[key])
            }
            if (keyType === "string" && jsonInfo[key].length > 188) {
                jsonInfo[key] = jsonInfo[key].substring(0,188)+"..."
            }
            var flag = false
            for (var has in reqField) {
                if (reqField[has] === key) {
                    if (reqVarType[has] !== keyType) {
                        $('.respVarType:eq('+has+')').val(keyType);
                    }
                    if (reqExample[has] !== jsonInfo[key]) {
                        $('.respExample:eq('+has+')').val(jsonInfo[key]);
                    }
                    flag = true
                }
            }

            var field = key
            if (parentKey !== "") {
                field = parentKey+"."+key
            }

            if (!flag && reqField[0] === "") {
                $(".respField").first().val(field);
                $(".respVarType").first().val(keyType);
                $(".respExample").first().val(jsonInfo[key]);
            } else if (!flag) {
                $("#setRespTable").append(addRespTpl(field, keyType, jsonInfo[key], ""));
            }

            if (keyType === "object") {
                var newParentKey = parentKey
                if (newParentKey === "") {
                    newParentKey = key
                }else {
                    newParentKey = parentKey+ "."+key
                }
                jsonToRespInfoItem(jsonInfo[key], newParentKey)
            }

            if (keyType === "array") {
                if (isArrayOrObject(jsonInfo[key][0]) === "object") {
                    var newParentKey = parentKey
                    if (newParentKey === "") {
                        newParentKey = key
                    } else {
                        newParentKey = parentKey+ "."+key
                    }
                    jsonToRespInfoItem(jsonInfo[key][0], newParentKey)
                }
            }
        }
    }

    function jsonToRespInfo() {
        var jsonInfo = editorAddResp.get();
        jsonToRespInfoItem(jsonInfo, "")
    }

    function showViewDoc(apiMethod, apiName, docId, isActive) {
        var docViewItem = $('.docViewItem').map(function() {
            return $(this).attr("data-docid");
        }).get();

        for (var i=0; i<docViewItem.length; i++) {
            if (docViewItem[i] === docId) {
                var docViewTable =  $("#docViewTable")
                docViewTable.find('a').each(function() {
                    $(this).removeClass("active")
                });
                $(".docViewItem[data-docid="+docId+"]").addClass("active")
                var x = ($(".docViewItem[data-docid="+docId+"]").offset().left-docViewTable.width())+400
                docViewTable.animate({
                    scrollLeft: x,
                }, 500);
                return
            }
        }

        var isActiveStr = ""
        if (isActive) {
            var docViewTable =  $("#docViewTable")
            docViewTable.find('a').each(function() {
                $(this).removeClass("active")
            });
            isActiveStr = "active"
        }
        $("#docViewTable").append(docViewItemTpl(isActiveStr, docId, apiMethod, apiName));
        $('#docViewTable').scrollLeft(9999);
    }

    $(document).on('click', '.addResp', function (){
        $("#setRespTable").append(addRespTpl("", "", "", ""));
    });

    $(document).on('click', '.removeResp', function(event) {
        var target = event.target;
        var index = $(target).parents("tr").index();
        $('#setRespTable tr:eq('+index+')').remove();
    })

    function NowDoc(docId) {
        // 获取文档
        var param = {
            "pid": projectId,
            "docId": docId,
        }
        AjaxPostNotAsync("/document/item", param, function(data){
            if (data.code === 0 ) {
                localStorage.setItem(nowViewDoc+projectId, docId)
                showViewDoc(data.data.content.method, data.data.content.name, docId, true)
                loadApiDoc(data.data.content, data.data.snapshotList)
            }
        })
    }

    $(document).on('click', '.docli', function(event) {
        var docId = $(this).prop('id');
        isShow(true)
        viewDocAdd(projectId, docId)
        NowDoc(docId)
    })

    $(document).on('click', '.docViewItem', function (event){
        var docViewTable =  $("#docViewTable")
        docViewTable.find('a').each(function() {
            $(this).removeClass("active")
        });
        $(this).addClass("active")
        var x = ($(this).offset().left-docViewTable.width())+400
        docViewTable.animate({
            scrollLeft: x,
        }, 500);
        var docId = $(this).attr("data-docid")
        localStorage.setItem(nowViewDoc+projectId, docId)
        NowDoc(docId)
    })

    $(document).on('click', '.docViewClose', function (event){
        event.stopPropagation();
        var target = event.target;
        var index = $(target).parents("li").index();
        var now = $('#docViewTable li:eq('+index+')')

        if(now.find("a").hasClass("active")) {
            if (index>0) {
                var i = index-1
                $('#docViewTable li:eq('+i+')').find("a").addClass("active")
                var docId = $('#docViewTable li:eq('+i+')').find("a").attr("data-docid")
                localStorage.setItem(nowViewDoc+projectId, docId)
                NowDoc(docId)
            }else {
                var i = index+1
                $('#docViewTable li:eq('+i+')').find("a").addClass("active")
                var docId = $('#docViewTable li:eq('+i+')').find("a").attr("data-docid")
                localStorage.setItem(nowViewDoc+projectId, docId)
                NowDoc(docId)
            }
        }
        now.remove();

        var docId = now.find("a").attr("data-docid")

        viewDocDel(projectId, docId)

        if(localStorage.getItem(nowViewDoc+projectId) === "undefined") {
            isShow(false)
        }
    })

    function openAddDocDir() {
        $('#docAddDirModal').modal('show');
    }

    function addDocDir() {
        const url = "/document/dir/create"
        var param = {
            "pid": projectId,
            "dirName": $("#docAddDirName").val()
        }
        AjaxPost(url, param, function (data){
            ToastShow(data.msg);
            if (data.code === 0) {
                setTimeout(function() {
                    location.reload();
                }, 1000);
            }
        })
    }

    function loadApiDoc(apiDoc, snapshotList) {
        var docIdContent = $("#docIdContent")
        var apiName = $("#api-name")
        var apiMethod = $("#api-method")
        var apiUrl = $("#api-url")
        var apiDescription = $("#api-description")
        var apiReqHeader = $("#api-reqHeader")
        var apiReqType = $("#api-reqType")
        var apiReqBodyInfo = $("#api-reqBodyInfo")
        var apiRespType = $("#api-respType")
        var apiRespBodyInfo = $("#api-respBodyInfo")

        docIdContent.empty();
        apiName.empty();
        apiMethod.empty();
        apiUrl.empty();
        apiDescription.empty();
        apiReqHeader.empty();
        apiReqType.empty();
        apiReqBodyInfo.empty();
        apiRespType.empty();
        apiRespBodyInfo.empty();

        docIdContent.append(apiDoc.docId);
        apiName.append(apiDoc.name);

        var methodStr = ""
        switch (apiDoc.method) {
            case "GET":methodStr = GETSpan;break;
            case "DELETE":methodStr = DELETESpan;break;
            case "POST":methodStr = POSTSpan;break;
            case "HEAD":methodStr = HEADSpan;break;
            case "PUT":methodStr = PUTSpan;break;
            case "OPTIONS":methodStr = OPTIONSSpan;break;
        }
        apiMethod.append(methodStr);

        apiUrl.append(apiDoc.url);
        apiDescription.html(apiDoc.descriptionHtml);

        if ( apiDoc.reqHeader !== undefined ) {
            for(var i=0; i<apiDoc.reqHeader.length; i++) {
                apiReqHeader.append(apiReqHeaderTpl(apiDoc.reqHeader[i].field, apiDoc.reqHeader[i].varType, apiDoc.reqHeader[i].isRequired,
                    apiDoc.reqHeader[i].description, apiDoc.reqHeader[i].example))
            }
        }

        apiReqType.append(apiDoc.reqType);

        if ( apiDoc.reqBodyInfo !== undefined ) {
            for (var i = 0; i < apiDoc.reqBodyInfo.length; i++) {
                //console.log(apiDoc.reqBodyInfo[i])
                zs["jsonpath:" + apiDoc.reqBodyInfo[i].field.replace(/\./g, ",")] = apiDoc.reqBodyInfo[i].description
                apiReqBodyInfo.append(apiReqBodyInfoTpl(apiDoc.reqBodyInfo[i].field, apiDoc.reqBodyInfo[i].varType, apiDoc.reqBodyInfo[i].isRequired,
                    apiDoc.reqBodyInfo[i].description, apiDoc.reqBodyInfo[i].example, i))
                if (apiDoc.reqBodyInfo[i].example.length > 20) {
                    tippy('.reqExampleTxt' + i, {
                        content: apiDoc.reqBodyInfo[i].example
                    });
                }
                if (apiDoc.reqBodyInfo[i].description.length > 20) {
                    tippy('.reqDescriptionTxt' + i, {
                        content: apiDoc.reqBodyInfo[i].description
                    });
                }
            }
        }

        if (apiDoc.reqType === "json") {
            $("#jsoneditorDiv").show();
            const initialJson = JSON.parse(apiDoc.reqBodyJson)
            editor.set(initialJson)
            editor.expandAll()
            const updatedJson = editor.get()
            const paths = getJsonPaths(updatedJson);
            $("#jsoneditor").find(".jsoneditor-field").each(function() {
                var id = $(this).prop("id")
                var regex = new RegExp("0,", "g");
                id = id.replace(regex, "");
                if (zs[id]){
                    $(this).parent().parent().append('<td class="zsReqText zsText"> /* '+zs[id]+' */</td>')
                }
            })
        }

        if ( apiDoc.resp !== undefined && apiDoc.resp.length > 0 ) {
            apiRespType.append(apiDoc.resp[0].respType);
            if (apiDoc.resp[0].respBodyInfo != null) {
                for(var i=0; i<apiDoc.resp[0].respBodyInfo.length; i++) {
                    zsresp["jsonpath:"+apiDoc.resp[0].respBodyInfo[i].field.replace(/\./g, ",")] = apiDoc.resp[0].respBodyInfo[i].description
                    apiRespBodyInfo.append(apiRespBodyInfoTpl(apiDoc.resp[0].respBodyInfo[i].field, apiDoc.resp[0].respBodyInfo[i].varType,
                        apiDoc.resp[0].respBodyInfo[i].description, apiDoc.resp[0].respBodyInfo[i].example, i))
                    if(apiDoc.resp[0].respBodyInfo[i].example.length > 20) {
                        tippy('.respExampleTxt'+i, {
                            content: apiDoc.resp[0].respBodyInfo[i].example
                        });
                    }
                    if(apiDoc.resp[0].respBodyInfo[i].description.length>20) {
                        tippy('.respDescriptionTxt'+i, {
                            content: apiDoc.resp[0].respBodyInfo[i].description
                        });
                    }
                }
            }

            if (apiDoc.resp[0].respType === "json" && apiDoc.resp[0].respBody !== "") {
                $("#jsoneditorRespDiv").show();
                const initialJson = JSON.parse(apiDoc.resp[0].respBody)
                editorResp.set(initialJson)
                editorResp.expandAll()
                const updatedJson = editorResp.get()
                const paths = getJsonPaths(updatedJson);
                $("#jsoneditorResp").find(".jsoneditor-field").each(function() {
                    var id = $(this).prop("id")
                    var regex = new RegExp("0,", "g");
                    id = id.replace(regex, "");
                    if (zsresp[id]){
                        $(this).parent().parent().append('<td class="zsRespText zsText"> /* '+zsresp[id]+' */</td>')
                    }
                })
            }

            var snapshot = $("#snapshot");
            snapshot.empty()
            if (snapshotList != null) {
                for (var i=0; i< snapshotList.length; i++) {
                    snapshot.append('<li class="list-group-item" style="font-size: 12px;">'+ snapshotList[i].userAcc+ ' - ' + snapshotList[i].createTimeStr+
                        ' - ' + snapshotList[i].operation + ' | 镜像: <a type="button" class="btn btn-link" ' +
                        'onclick="openSnapshot(\''+apiDoc.docId+'\',\''+snapshotList[i].snapshotId+'\')">' + snapshotList[i].snapshotId +'</a> </li>')
                }
            }
        }
    }

    function closeReqZsText() {
        $(".zsReqText").remove();
        $(".closeReqZsText").hide();
        $(".openReqZsText").show();
    }

    function closeRespZsText() {
        $(".zsRespText").remove();
        $(".closeRespZsText").hide();
        $(".openRespZsText").show();
    }

    function openReqZsText() {
        $("#jsoneditor").find(".jsoneditor-field").each(function() {
            var id = $(this).prop("id")
            var regex = new RegExp("0,", "g");
            id = id.replace(regex, "");
            if (zs[id]){
                $(this).parent().parent().append('<td class="zsReqText zsText"> /* '+zs[id]+' */</td>')
            }
        })
        $(".closeReqZsText").show();
        $(".openReqZsText").hide();
    }

    function openRespZsText() {
        $("#jsoneditorResp").find(".jsoneditor-field").each(function() {
            var id = $(this).prop("id")
            var regex = new RegExp("0,", "g");
            id = id.replace(regex, "");
            if (zsresp[id]){
                $(this).parent().parent().append('<td class="zsRespText zsText"> /* '+zsresp[id]+' */</td>')
            }
        })
        $(".closeRespZsText").show();
        $(".openRespZsText").hide();
    }

    function copyReqJson() {
        var jsonObj =  editor.get()
        copyContent(JSON.stringify(jsonObj))
    }

    function copyRespJson() {
        var jsonObj =  editorResp.get()
        copyContent(JSON.stringify(jsonObj))
    }

    function goToRespInfo() {
        const url = "/tool/goStructToField"
        var param = {
            "text": $("#respGo textarea").val(),
        }
        AjaxPost(url, param, function (data){

            delRespTpl();

            for(var i=0; i<data.data.length; i++) {

                var respField = $('.respField').map(function() {
                    return $(this).val();
                }).get();

                if (respField[0] === "") {
                    $(".respField").first().val(data.data[i].field);
                    $(".respVarType").first().val(data.data[i].varType);
                    $(".respDescription").first().val(data.data[i].description);
                } else {
                    $("#setRespTable").append(addRespTpl(data.data[i].field, data.data[i].varType, "", data.data[i].description));
                }
            }

        })

    }

    function goToReqInfo() {
        const url = "/tool/goStructToField"
        var param = {
            "text": $("#bodyGo textarea").val(),
        }
        AjaxPost(url, param, function (data){

            delReqTpl();

            for(var i=0; i<data.data.length; i++) {

                var reqField = $('.reqField').map(function() {
                    return $(this).val();
                }).get();

                if (reqField[0] === "") {
                    $(".reqField").first().val(data.data[i].field);
                    $(".reqVarType").first().val(data.data[i].varType);
                    $(".reqDescription").first().val(data.data[i].description);
                } else {
                    $("#setReqTable").append(addReqTpl(data.data[i].field, data.data[i].varType, "", data.data[i].description, "1"));
                }
            }

        })
    }

    function openSnapshot(snapshotDocId, snapshotId) {
        var param = {
            "docId": snapshotDocId,
            "snapshotId": snapshotId,
        }
        AjaxPostNotAsync("/document/snapshot/item", param, function(data){
            if (data.code === 0 ) {
                console.log(data.data)

                $("#docNavSnapshot").empty();
                $("#docNavSnapshot").append("镜像:"+data.data.snapshotId);
                $("#docNav").show();

                loadApiDoc(data.data.documentContent, null)

                $("#docMain").animate({scrollTop:0}, 500)

            }
        })
    }

    function initGlobalCodeTplBrowse() {
        var tpl = '<tr>\n' +
            '                        <td style="width: 20%;">\n' +
            '                            <input class="form-control form-control-sm globalCodeKey" type="text" placeholder="状态值" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%">\n' +
            '                            <input class="form-control form-control-sm globalCodeDescription" type="text" placeholder="描述" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                    </tr>'
        return tpl
    }

    function addGlobalCodeTplBrowse(codeKey, codeDescription) {
        var codeKeyVal = ""
        var codeDescriptionVal = ""

        if (codeKey !== "") {
            codeKeyVal  = 'value="'+codeKey+'"'
        }

        if (codeDescription !== "") {
            codeDescriptionVal = 'value="'+codeDescription+'"'
        }

        var tpl = '<tr>\n' +
            '                        <td style="width: 20%;">\n' +
            '                            <input class="form-control form-control-sm globalCodeKey" type="text" '+codeKeyVal+' placeholder="状态值" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%">\n' +
            '                            <input class="form-control form-control-sm globalCodeDescription" type="text" '+codeDescriptionVal+' placeholder="描述" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                    </tr>'
        return tpl
    }


    function openGlobalCodeModal() {
        AjaxGetNotAsync("/project/code/list?pid="+projectId, function (data){
            console.log(data)
            if (data.code === 0) {
                $("#globalCodeTable").empty();
                $('#globalCodeTable').append(initGlobalCodeTplBrowse());

                for(var i=0; i<data.data.length; i++) {
                    if (i===0) {
                        $(".globalCodeKey").first().val(data.data[0].field);
                        $(".globalCodeDescription").first().val(data.data[0].description);
                    } else {
                        $("#globalCodeTable").append(addGlobalCodeTplBrowse(data.data[i].field, data.data[i].description));
                    }
                }

                $('#globalCodeModal').modal('show');
            }else {
                ToastShow(data.msg);
            }

        });

    }

    function initGlobalHeaderAddTplBrowse() {
        var tpl = '<tr>\n' +
            '                        <td style="width: 10%;">\n' +
            '                            <select class="form-select form-select-sm globalHeaderIsRequired" style="font-size: 11px;" disabled>\n' +
            '                                <option value="1">必填</option>\n' +
            '                                <option value="0">非必填</option>\n' +
            '                            </select>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%;">\n' +
            '                            <input class="form-control form-control-sm globalHeaderField" type="text" placeholder="字段" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%;">\n' +
            '                            <input class="form-control form-control-sm globalHeaderDescription" type="text" placeholder="描述" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                        <td style="width: 10%;">\n' +
            '                            <select class="form-select form-select-sm globalHeaderVarType" style="font-size: 11px;" disabled>\n' +
            '                                <option value="">类型</option>\n' +
            '                                <option value="String">String</option>\n' +
            '                                <option value="Number">Number</option>\n' +
            '                                <option value="Integer">Integer</option>\n' +
            '                                <option value="Float">Float</option>\n' +
            '                                <option value="Double">Double</option>\n' +
            '                                <option value="Bool">Bool</option>\n' +
            '                                <option value="Array">Array</option>\n' +
            '                                <option value="Object">Object</option>\n' +
            '                            </select>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%">\n' +
            '                            <input class="form-control form-control-sm globalHeaderExample" type="text" placeholder="示例" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                    </tr>'
        return tpl
    }

    function addGlobalHeaderAddTplBrowse(isRequired, field, description, varType, example) {
        var globalHeaderIsRequiredVal = ""
        var globalHeaderFieldVal = ""
        var globalHeaderDescriptionVal = ""
        var globalHeaderVarTypeVal = ""
        var globalHeaderExampleVal = ""

        if (isRequired !== "") {
            globalHeaderIsRequiredVal  = 'value="'+isRequired+'"'
        }
        if (field !== "") {
            globalHeaderFieldVal  = 'value="'+field+'"'
        }
        if (description !== "") {
            globalHeaderDescriptionVal  = 'value="'+description+'"'
        }
        if (varType !== "") {
            globalHeaderVarTypeVal  = 'value="'+varType+'"'
        }
        if (example !== "") {
            globalHeaderExampleVal  = 'value="'+example+'"'
        }

        var tpl = '<tr>\n' +
            '                        <td style="width: 10%;">\n' +
            '                            <select class="form-select form-select-sm globalHeaderIsRequired" '+globalHeaderIsRequiredVal+' style="font-size: 11px;" disabled>\n' +
            '                                <option value="1">必填</option>\n' +
            '                                <option value="0">非必填</option>\n' +
            '                            </select>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%;">\n' +
            '                            <input class="form-control form-control-sm globalHeaderField" type="text" '+globalHeaderFieldVal+' placeholder="字段" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%;">\n' +
            '                            <input class="form-control form-control-sm globalHeaderDescription" type="text" '+globalHeaderDescriptionVal+' placeholder="描述" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                        <td style="width: 10%;">\n' +
            '                            <select class="form-select form-select-sm globalHeaderVarType" '+globalHeaderVarTypeVal+' style="font-size: 11px;" disabled>\n' +
            '                                <option value="">类型</option>\n' +
            '                                <option value="String">String</option>\n' +
            '                                <option value="Number">Number</option>\n' +
            '                                <option value="Integer">Integer</option>\n' +
            '                                <option value="Float">Float</option>\n' +
            '                                <option value="Double">Double</option>\n' +
            '                                <option value="Bool">Bool</option>\n' +
            '                                <option value="Array">Array</option>\n' +
            '                                <option value="Object">Object</option>\n' +
            '                            </select>\n' +
            '                        </td>\n' +
            '                        <td style="width: 20%">\n' +
            '                            <input class="form-control form-control-sm globalHeaderExample" type="text" '+globalHeaderExampleVal+' placeholder="示例" style="font-size: 11px;" disabled>\n' +
            '                        </td>\n' +
            '                    </tr>'
        return tpl

    }

    function openGlobalHeaderModal() {
        AjaxGetNotAsync("/project/header/list?pid="+projectId, function (data){
            console.log(data)
            if (data.code === 0) {
                $("#globalHeaderTable").empty();
                $('#globalHeaderTable').append(initGlobalHeaderAddTplBrowse());

                for(var i=0; i<data.data.length; i++) {
                    if (i===0) {
                        $(".globalHeaderIsRequired").first().val(data.data[0].isRequired);
                        $(".globalHeaderField").first().val(data.data[0].field);
                        $(".globalHeaderDescription").first().val(data.data[0].description);
                        $(".globalHeaderVarType").first().val(data.data[0].varType);
                        $(".globalHeaderExample").first().val(data.data[0].example);
                    } else {
                        $("#globalHeaderTable").append(addGlobalHeaderAddTplBrowse(data.data[i].isRequired, data.data[i].field, data.data[i].description,
                            data.data[i].varType, data.data[i].example));
                    }
                }

                $('#globalHeaderModal').modal('show');
            } else {
                ToastShow(data.msg);
            }
        })

    }


</script>
{{ template "end" . }}