{{ template "head" . }}
<body>
{{ template "header" . }}

<div class="container-fluid" style="padding: 36px;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> > <a href="/home">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">用户管理</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-2"><button type="button" class="btn btn-outline-secondary" onclick="addUser()">创建用户 {{ SVG "plus-lg" 18 18 }} </button></div>
        <div class="input-group col-3" style="width: 360px;">
            <input type="text" class="form-control" placeholder="用户名称" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">搜索</button>
        </div>
    </div>

    <hr>
    <br>
    <div style="height: calc(100vh - 256px);overflow: auto;position: relative;width: 77%;">

        <div class="list-group">

            {{ range .userList }}
                <div class="list-group-item list-group-item-action
                {{ if eq 1 .IsDisable}} list-group-item-secondary {{end}}" style="height: 62px;">
                    {{ .Name }} (账号: {{ .Account }})
                    {{ if eq 1 .IsAdmin }}
                    (管理员)
                    {{ else }}
                    <div class="btn-group" role="group" aria-label="Basic outlined example" style="float: right;">
                        <button type="button" class="btn btn-outline-dark" onclick="deleteUser('{{ .Account }}')">删除</button>
                        {{ if eq 1 .IsDisable }}
                        <button type="button" class="btn btn-outline-dark" onclick="disableUser('{{ .Account }}', 0)">启用</button>
                        {{ else }}
                        <button type="button" class="btn btn-outline-dark" onclick="disableUser('{{ .Account }}', 1)">禁用</button>
                        <button type="button" class="btn btn-outline-dark" onclick="modifyUser('{{ .Account }}')">修改昵称</button>
                        <button type="button" class="btn btn-outline-dark" onclick="resetPasswordUser('{{ .Account }}')">重置密码</button>
                        {{ end }}


                    </div>
                    {{ end }}

                </div>
            {{ end }}

        </div>

    </div>

    {{ template "toast" . }}
    {{ template "ProjectModalAdd" .}}
    {{ template "UserModalAdd" . }}
    {{ template "UserModalModify" . }}
    {{ template "UserResetPasswordModify" . }}

</div>

</body>
{{ template "pubjs" . }}
<script>
    $(document).ready(function(){

    });
</script>
{{ template "end" . }}